<div class="query_result">
  <% if @query_tester.error %>
    <p>
      <span class="error_text">
        <%= @query_tester.error  %>
      </span>
    </p>
  <% else %>
    <% if defined? @query_tester.result_set %>
      <table class="rowlist_table">
        <tr>
          <th>Row</th>
          <% @query_tester.column_names.each do |h| %>
            <th><%= h %></th>
          <% end %>
          <th>Result</th>
        </tr>
        <% @query_tester.result_set.each_with_index do |row,index | %>
          <tr>
            <td>#<%= index %> </td>
            <% row.each do |v| %>
              <td><%= v %> </td>
            <% end %>
            <td><%= @evaluation_results[index] %> </td>
          </tr>
        <% end %>

      </table>
    <% end %>
  <% end %>
</div>