<h2>List of target groups</h2>

<div class="rowlist_page">

  <div id="record_list">

    <table class="rowlist_table">
      <tr>
        <th>Name</th>
        <th>Functions</th>
      </tr>

      <% @target_groups.each_with_index do |target_group,index| %>
        <tr class="<%= index.modulo(2) == 0 ? "even" : "odd" %>">
          <td><%= target_group.name %></td>
          <td>
            [
            <%= link_to 'Edit', edit_target_group_path(target_group) %>
            |
            <%= link_to 'Delete', target_group, method: :delete, data: { confirm: 'Are you sure?' } %>
            ]
          </td>
        </tr>
      <% end %>
    </table>

    <br />

    <%= link_to 'New target group', new_target_group_path %>

  </div>

</div>