<h2>List of users</h2>

<div class="rowlist_page">

  <div id="record_list">

    <table class="rowlist_table">
      <tr>
        <th>Login</th>
        <th>Access Level</th>
        <th>Functions</th>
      </tr>

      <% @users.each_with_index do |user,index| %>
        <tr class="<%= index.modulo(2) == 0 ? "even" : "odd" %>">
          <td><%= user.login %></td>
          <td><%= user.access_level_str %></td>
          <td>
            [
            <%= link_to 'Edit', edit_user_path(user) %>
            |
            <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %>
            ]
          </td>
        </tr>
      <% end %>
    </table>

    <br />

    <%= link_to 'New User', new_user_path %>

  </div>

</div>