<div class="editform_page">

  <% if @target_hostname.errors.any? %>
    <div class="errors">

      <p><em>Oops... the following errors were encountered:</em></p>
      <ul>
        <% @target_hostname.errors.full_messages.each do |m| %>
          <li><%= m  %> </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-container">

    <%= form_for(@target_hostname, :url => target_hostnames_path(@target)) do |f| %>

      <fieldset>
        <legend> Add additional hostname </legend>
        
        <div>
          <%= f.text_field :hostname, {"size"=>30,"maxlength"=>100}%>
        </div>

        <%= submit_tag("Save") %>
        <%= submit_tag("Cancel") %>

      </fieldset>

    <% end %>

  </div>

</div>


