<!DOCTYPE html>
<html>
<head>
  <title>Poseidon</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="page">

    <!-- Header here! -->
    <div id="header">
      <%= image_tag "poseidon.png" %>
      <h1>Poseidon</h1>


      <!-- Menu -->
      <div class="top-menu">
        <ul>
          <% top_menu.each do |key,value| %>
          <li <%=  raw 'class="selected"' if value["selected"] %> >
              <%= link_to value["label"], value["path"] %>
          </li>
          <% end %>
        </ul>
      </div>

      <div class="bottom-menu">
        <ul>
          <% sub_menu.each do |key,value| %>
          <li <%=  raw 'class="selected"' if value["selected"] %> >
              <%= link_to value["label"], :controller=>value["controller"] %>
          </li>
          <% end %>
        </ul>
      </div>

    </div>

    <!-- Content here -->
    <div id="content">

      <!-- Notices if any -->
      <% if flash[:notice] -%>
        <div class="flash_note"><%= flash[:notice] %></div>
      <% end -%>

      <%= yield %>

    </div>

    <!-- Footer here -->
    <div id="footer">
      <p/>
      <hr/>
      <% if current_user  %>
        You are logged in as <%= current_user.login %>
        | <%= link_to "Logout", logout_path, :method=>:delete %>
      <% end %>
    </div>

  </div>

</body>
</html>
