<!DOCTYPE html>
<html>
<head>
  <title>Poseidon</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="page">

    <!-- Content here -->
    <div id="content">

      <!-- Notices if any -->
      <% if flash[:notice] -%>
        <div class="flash_note"><%= flash[:notice] %></div>
      <% end -%>

      <%= yield %>

    </div>

  </div>

</body>
</html>
